<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <mapping resource="Dog.hbm.xml"/>
        <mapping class="com.epam.javacource.sid.spring.controller.HibernateFlashModeTest$DogWithAutoId"/>
        <mapping class="com.epam.javacource.sid.spring.controller.HibernateFlashModeTest$DogWithSequenceId"/>
        <mapping class="com.epam.javacource.sid.spring.controller.HibernateFlashModeTest$DogWithIdentityId"/>
    </session-factory>
</hibernate-configuration>