<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:application.properties"/>
    <bean id="jooqDogDao" class="com.epam.javacource.sid.spring.dao.JooqDogDao">
        <constructor-arg ref="pgDataSource"/>
        <constructor-arg value="POSTGRES" type="org.jooq.SQLDialect"/>
    </bean>
    <bean id="connectionHolder" class="com.epam.javacource.sid.spring.dao.JdbcConnectionHolder">
        <constructor-arg ref="pgDataSource"/>
    </bean>
    <bean id="dogDao" class="com.epam.javacource.sid.spring.dao.JdbcDogDao">
        <constructor-arg ref="connectionHolder"/>
    </bean>
    <bean id="dogService" class="com.epam.javacource.sid.spring.service.impl.DogServiceImpl">
        <constructor-arg ref="dogDao"/>
    </bean>
    <bean id="transactionalDogService" class="com.epam.javacource.sid.spring.service.proxy.TransactionalDogService">
        <constructor-arg ref="dogService"/>
        <constructor-arg ref="connectionHolder"/>
    </bean>
    <bean id="someController" class="com.epam.javacource.sid.spring.controller.DogController">
        <constructor-arg ref="transactionalDogService"/>
    </bean>
    <bean id="flywayConfig" class="org.flywaydb.core.api.configuration.ClassicConfiguration">
        <property name="dataSource" ref="pgDataSource"/>
        <property name="locations" value="db/migration"/><!--default one but who knows if I'd like to change it-->
    </bean>
    <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">
        <constructor-arg ref="flywayConfig"/>
    </bean>
    <bean id="globalValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
    <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
        <property name="url" value="jdbc:h2:~/dog"/>
        <property name="user" value="${db.data-source.user}"/>
        <property name="password" value="${db.data-source.password}"/>
    </bean>
    <bean id="pgDataSource" class="org.postgresql.ds.PGSimpleDataSource">
        <property name="serverNames" value="localhost"/>
        <property name="databaseName" value="dog"/>
        <property name="user" value="${db.data-source.user}"/>
        <property name="password" value="${db.data-source.password}"/>
        <property name="prepareThreshold" value="1"/>
        <property name="preparedStatementCacheQueries" value="0x7fffffff"/>
        <property name="preparedStatementCacheSizeMiB" value="0x7fffffff"/>
    </bean>
    <mvc:annotation-driven validator="globalValidator">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>